# Dependencies
node_modules/
.pnpm-store/

# Turbo
.turbo/

# Go
dist/
bin/
tmp/
*.exe
*.test
*.out
vendor/

# Flutter / Dart
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# OS / IDE
.DS_Store
.vscode/
.idea/

# Local data & environment
/data/
/library/
.env
.env.local
